{% extends 'main/base.html' %}

{% block content %}


<div style="width: 1000px; height: 800px;">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
window.onload = function() {
        var data = JSON.parse("{{data|escapejs}}");
        var config = {
            type: 'bar',
            data: {
                datasets: [{
                data: data.data1,
                backgroundColor: 'green',
                hoverBackgroundColor: 'black',
                label: '18-20'
                },{
                data: data.data2,
                backgroundColor: 'orange',
                hoverBackgroundColor: 'black',
                label: '20-30'
                },{
                data: data.data3,
                backgroundColor: 'purple',
                hoverBackgroundColor: 'black',
                label: '30-40'
                },{
                data: data.data4,
                backgroundColor: 'cyan',
                hoverBackgroundColor: 'black',
                label: '40-50'
                },{
                data: data.data5,
                backgroundColor: 'yellow',
                hoverBackgroundColor: 'black',
                label: '50-60'
                },{
                data: data.data6,
                backgroundColor: 'brown',
                hoverBackgroundColor: 'black',
                label: '60-70'
                },{
                data: data.data7,
                backgroundColor: 'gray',
                hoverBackgroundColor: 'black',
                label: '70+'
                },{
                data: data.data,
                backgroundColor: 'cyan',
                hoverBackgroundColor: 'black',
                label: 'Signup method'
                }],
                labels: data.labels
            },
            options: {
                responsive: true,
                legend: {
                position: 'top',
 
              },
              scales: {
              xAxes: [{
              barPercentage: 0.4
                  }]
               },
              
              title: {
                display: true,
                text: 'Signup app dest per age'
              }
            },
          
            
        };
        console.log(data.data)
        console.log(data.labels)
        var ctx = document.getElementById('population-chart').getContext('2d');
        window.mybar = new Chart(ctx, config);
        window.resizeTo(200, 200);
    };
</script>
<div >
    <canvas id="population-chart"></canvas>
    <button type="button" class="btn btn-secondary btn-lg"
    style="background-color: cadetblue;margin-top: 50px;margin-left: 50px;"onclick="location.href = '/dategraph/'">Next Graph</button>
    <h1></h1>
</div>
</div>
{% endblock %}