{% extends 'main/base.html' %}

{% block content %}


<div style="width: 1000px; height: 800px;">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
window.onload = function() {
        var data = JSON.parse("{{data|escapejs}}");
        var config = {
            type: 'bar',
            data: {
                datasets: [{
                data: data.data,
                backgroundColor: 'blue',
                hoverBackgroundColor: 'cyan',
                label: 'Dest',
                
                
                }],
                labels: data.labels,
                
            },
            
            
            
            options: {
                responsive: true,
                legend: {
                position: 'top',
 
              },
              scales: {
              xAxes: [{
              id: 'x1',
              display: true,
              barPercentage: 0.5
                  }]
               },
               id:'x2',
               type: 'category',
               position: 'bottom',
               
             
              
              title: {
                display: true,
                text: 'Sample per Class'
              }
            },
          
            
        };
        console.log(data.data)
        console.log(data.labels)
        var ctx = document.getElementById('population-chart').getContext('2d');
        window.mybar = new Chart(ctx, config);
        window.resizeTo(200, 200);
    };
</script>


<div >
    <canvas id="population-chart"></canvas>
    <div>
    <table id="mytable" style="border:1px solid black;width:850px;margin-left: 20px;">
        
      </table>
      <button type="button" class="btn btn-secondary btn-lg"
      style="background-color: cadetblue;margin-top: 50px;margin-left: 50px;"onclick="location.href = '/fourthbarchart/'">Next Graph</button>
      </div>
</div>
</div>
<script type ="text/javascript">
  var data = JSON.parse("{{data|escapejs}}");
  var total = []
  total=data.data
  console.log(total)
  var table = document.getElementById("mytable");
  var row = table.insertRow(0);
  var cell0 = row.insertCell(0);
  var cell1 = row.insertCell(1);
  var cell2 = row.insertCell(2);
  var cell3 = row.insertCell(3);
  var cell4 = row.insertCell(4);
  var cell5 = row.insertCell(5);
  var cell6 = row.insertCell(6);
  var cell7 = row.insertCell(7);
  var cell8 = row.insertCell(8);
  var cell9 = row.insertCell(9);
  var cell10 = row.insertCell(10);
  var cell11 = row.insertCell(11);
  var cell12 = row.insertCell(12);
  cell0.innerHTML="Total"
  cell1.innerHTML=total[0]
  cell2.innerHTML=total[1]
  cell3.innerHTML=total[2]
  cell4.innerHTML=total[3]
  cell5.innerHTML=total[4]
  cell6.innerHTML=total[5]
  cell7.innerHTML=total[6]
  cell8.innerHTML=total[7]
  cell9.innerHTML=total[8]
  cell10.innerHTML=total[9]
  cell11.innerHTML=total[10]
  cell12.innerHTML=total[11]
  
  
 
</script>

{% endblock %}